@font-face {
    font-family: ebrima;
    src: url(./assets/ebrima.ttf);
}

:root {
    --primary: #986D8E;
    --secondary: #87A8A4;
    --tetiary: #D9CAB3;
    --inferior: #EFE3D0;
    --text: #FFFFFF;
}


@media screen and (max-width: 400px) {
    * {
        font-size: 14px;
    }
}

body {
    background-color: var(--primary);
    color: var(--text);
    font-family: ebrima;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header{
    display: flex;
    padding: 2em;
}
header > div {
    display: flex;
    width: 50%;
    align-items: center;
}
.brand > img {
    width: 10em;
}

.add{
    justify-content: flex-end;
}

.add > button{
    display:flex;
    width: 5em;
    height: 4em;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5em;
    background-color: #87A8A4;
    color: var(--text);
}

footer{
    height: 20vh;
    background-color: #D9CAB3 ;
    width: 100%;
    position: absolute;
    top: 80vh;
}
.footer-panel  {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.footer-panel > button {
    width: 10em;
    height: 4em;
    border: none;
    background-color: #87A8A4;
    margin: 0 auto;
    color: var(--inferior);
    font-weight: lighter;
}
.footer-panel > h2{
    text-align: center;
    margin: 0px;
    color:black;
    margin-top: 1em;
}


